.zerolineheight{line-height:0px;}
.onimagetopleft{position:absolute;left:1px;top:1px;z-index:9;}
.onimagetopright{position:absolute;right:1px;top:1px;z-index:9;}
.onimagebottomleft{position:absolute;left:1px;bottom:0px;z-index:9;}
.onimagebelowbottomleft{position:absolute;left:1px;bottom:-35%;z-index:9;padding-left:50px;}
.onimagebottomright{position:absolute;right:1px;bottom:0px;z-index:9;}
.loginborder{border:2px solid #666;margin:5px;}
.paddingnavright{padding-right:70px;}
.darkgreybgongrey{background:#E4E4E5;}
.popupmodalbody{max-height:450px;overflow-x:auto;}
.popupmodalcommentbody{max-height:400px;overflow-x:auto;}
.close{position: absolute;
       right: 2px;top:2px;}
.btngreybg .small{font-size:70% !important;}
.on-image{
    margin-top:0px;
    margin-left:25px;
    display:block;
    width:80px;
    height:20px;
}
.mainh1{
    color:#666 !important;
}
.footer-small-links{padding-left:0px;}
.footer-small-links li{
    display:inline-block;
    color:#9D9D9D;
}
.footer-small-links li a,.copyrights{
    display:block;
    color:#575656;
    text-decoration:none;
}
.footer-small-links li a:hover{color:#000;}
.footer {
    width: 100%;
    background-color: #D5D362;
    font-size: 0.8em;
}
.footer-top-margin{
    margin-top: 10px;
}
p.text-muted, .footerlinks {
    margin: 5px 0px 5px 0px;
}
p.small {
    font-size: 62%;
}
.footerlinks a {
    padding: 0px 5px 0px 5px;
    color: #292426;
    text-decoration: none;
}
.footerlinks a:hover {
    color: #000;
}
.footercontactus {
    float: right;
    height: 32px;
    width: 32px;
}
.footercontactheading {
    font-weight: bold;
}

.btngreybg, .btngreybg:hover,.btngreybg:focus {
    color: #fff;
    background: #777;
}
.inline-block {
    display: inline-block;
}
.yousersbg {
    background: url(../img/bg/YOUsers.jpg) no-repeat center center fixed;
    background-image: url(../img/bg/YOUsers.jpg);
}
.citizenjournalistsbg {
    background: url(../img/bg/citizenjournalists.jpg) no-repeat center center fixed;
    background-image: url(../img/bg/citizenjournalists.jpg);
}
.brandsbg {
    background: url(../img/bg/brands.jpg) no-repeat center center fixed;
    background-image: url(../img/bg/brands.jpg);
}
.organizationsbg {
    background: url(../img/bg/organizations.jpg) no-repeat center center fixed;
    background-image: url(../img/bg/organizations.jpg);
}
.celebsbg {
    background: url(../img/bg/celebs.jpg) no-repeat center center fixed;
    background-image: url(../img/bg/celebs.jpg);
}
.celebsbg, .organizationsbg, .brandsbg, .citizenjournalistsbg, .yousersbg {
    -webkit-background-size: auto 100%;           /* Safari 3.0 */
    -moz-background-size: auto 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: auto 100%;           /* Opera 9.5 */
    background-size: auto 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    color: #fff;
}
.newsletsbg {
    background: #EDEEF0;
    color: #575656;
    color: #000;
}
.whitebg {
    background: #fff;
}
.newsletsbg span {
    color: #000;
}
.lightbluebg {
    background: #E9F6FC;
}
.darkbluebg {
    background: #97D7FA;
}
.lightyellowbg {
    background: #f3f3c1;
}
.darkyellowbg {
    background: #dde688;
}
.lightskybluebg {
    background: #c5e3c2;
}
.darkskybluebg {
    background: #8fd0bd;
}
.lightpinkbg {
    background: #f7c2d9;
}
.darkpinkbg {
    background: #d8a6cc;
}
.yousersheaderblue {
    background: #97D7FA;
}
.yousersbodyblue {
    background: #D2E5C7;
}
.brandsheaderblue {
    background: #97D7FA;
}
.brandsbodyblue {
    background: #E9F6FC;
}
.celebsheaderpink {
    background: #FAC9DF;
}
.celebsbodypink {
    background: #EFD9E6;
}
.citizenjournalistsheaderyellow {
    background: #DBD28F;
}
.citizenjournalistsbodyyellow {
    background: #E1DEB3;
}
.organizationsheadergolden {
    background: #E7E783;
}
.organizationsbodygolden {
    background: #F8F5CA;
}
.magentabg {
    background: #d3effb;
}
.margintopmenu {
    margin: 25px 0 50px 0;
}
.oneline {
    line-height: 1.175;
}
.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
    /*height: 64px;*/
}
.nomargin-home {
    margin: 0 !important;
    height: 75px;
}
.nomargin2 {
    margin: 0 !important;

}
.nomarginbottom,.nomarginb{margin-bottom:0px !important;}
.nomargintop,.nomargint{margin-top:0px !important;}
.nomargintopbottom,.nomargintb{margin-bottom:0px !important;margin-top:0px !important; }
.paddinglr, .paddingrl {
    padding-left: 7px;
    padding-right: 7px;
}
.paddingtb, .paddingbt {
    padding-bottom: 7px;
    padding-top: 7px;
    color: #666;
    font-size: 13px;
}
.paddingleft {
    padding-left: 7px;
}
.paddingright {
    padding-right: 7px;
}
.paddingall {
    padding: 7px;
}
.paddingtop {
    padding-top: 7px !important;
}
.paddingbottom {
    padding-bottom: 7px !important;
}
.marginall {
    margin: 5px;
}
.margintop {
    margin-top: 5px;
}
.marginbottom {
    margin-bottom: 5px;
}
.marginright {
    margin-right: 7px;
}
.marginleft {
    margin-left: 7px;
}
.borderbottom {
    border-bottom: 1px solid #444;
}
.bordertop {
    border-top: 1px solid #444;
}
.borderleft {
    border-left: 1px solid #444;
}
.borderright {
    border-right: 1px solid #444;
}
.mainpagestext {
    font-size: 18px;
}
.black, black {
    color: #000;
}
.toprightcorner {
    position: absolute;
    top: -10px;
    right: 1px;
    z-index: 999;
    cursor: pointer;
}
.text-pink, a.text-pink, a.text-pink:hover {
    color: #E12526;
    text-decoration: none;
}
.addtoread {
    clear: both;
    text-decoration: none;
}
.fixedheightwithscroll {
    min-height: 80%;
    max-height: 80%;
    height: 80%;
    overflow-y: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}

::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}
menu {
    padding: 5px;
    display: inline-block;
}
.signupbuttonbg,.signupbuttonbg:hover,.signupbuttonbg:focus,.signupbuttonbg:active,.signupbuttonbg.focus,.signupbuttonbg.active{background:#C6C6C6;color:#000;}
.signs_buttonbg,.signs_buttonbg:hover,.signs_buttonbg:focus,.signs_buttonbg:active,.signs_buttonbg.focus,.signs_buttonbg.active{background:#83D0F5;color:#000;}
.text-center .btn{border-radius:none;border-radius:5px;}
.fontred{color:#FF2D16;color:#FF2D16 !important;}
.brandtextpadding{
    padding-left:5%;
}
.brandtextpaddingnew{
    position: relative;
    top: -20px;
    left: 0;
}
.pullup{margin-top:-20%;z-index:-1;}
.pulluptopmenu{margin-top:-2.5%;}
.seperator{padding-top:25px;}
.select-wrapper{
    float: left;
    display: inline-block;
    background: url("../img/bg/dropdown.png") no-repeat right center;
    cursor: pointer;
}
.select-wrapper, .select-wrapper select{
    width: 99.5%;
    height: 34px;
    line-height: 32px;

}
.select-wrapper:hover{
    background: url("../img/bg/dropdown.png") no-repeat right center;
}
.select-wrapper .holder{
    display: block;

    white-space: nowrap;            
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
    background:#fff;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    border-radius:4px 0px 0px 4px;
    margin-top: -42px;
    padding-left:10px;
}
.select-wrapper select{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
.custom-select{background:#fff;}
a.home-text-link:link, a.home-text-link:visited, a.home-text-link:hover, a.home-text-link:active{
    color: #05B2F4;
    text-decoration: none;
} 
.navbar-nav > li > a{
    padding-bottom: 9px;
    padding-top: 15px;
}
.fontnormal {
    font-weight: normal;
}
.pullupreadhow{margin-top:-8%;}
.fixlineheight{lineheight:22px;}
.space-2{
    margin-top: 2px;
}
.space-4{
    margin-top: 4px;
}
.space-6{
    margin-top: 6px;
}
.space-8{
    margin-top: 8px;
}
.space-10{
    margin-top: 10px;
}
.space-20{
    margin-top: 20px;
}
.space-30{
    margin-top: 30px;
}
.space-40{
    margin-top: 40px;
}
.space-50{
    margin-top: 50px;
}
.nowrap{
    white-space: nowrap;
}
.logo-margin{
    padding-left: 25px;
    /*position: relative;
    top: -20px;*/
}
.nav-top-bgcolor{
    background-color: #6c6b6e;
    height: 15px;
}
.footer-bottom-bgcolor{
    background-color: #6c6b6e;
    height: 35px;
}
.text-custom-merun{
    color: #303382;
}
.text-custom-ash{
    color: #888;
}
.expand-height{
    height: 20px;
}
.more-action-bg{
    text-align: center;
    padding: 5px;
    background-color: #DDD;
}
.text-analytics{
    font-size: 24px;
    color: #000;
}
.text-analytics-ass{
    color: #999;
}
.text-analytics-white{
    color: #FFF;
}
.text-analytics-header{
    background-color: #6CCFF6;
    color: #FFF;
    text-align: center;
}
.text-analytics-content{
    background-color: #AAE0FA;
    text-align: center;
}
.td-small-height{
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 10px;
    font-size:0px;
}
.btn-signin-pad{
    margin-right: 21px;
}
.text-color-firoza{
    color: #27B9F1;
    font-size: 13px;
}
.modal-text-header{
    color: #3DBEEE;
    font-size: 16px;
}
.modal-backgound-color{
    background-color: #FFF;
}
.hr-bar{
    border-bottom: 1px solid #666;
}
.modal-date{
    font-size:11px;
}
.under-scroll-text{
    padding-right: 20px;
}
.nlicon_home{
    background:transparent url("../img/bg/home_dashboard.png") no-repeat top 3px left 25px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_dashboard{
    background:transparent url("../img/bg/home_dashboard.png") no-repeat top 5px left -35px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_notification{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top 5px left 5px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_ring{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top 5px left -70px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_share{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top 5px left -135px;
    height: 40px;
    width: 70px;
    border: 0px;
}
.nlicon_archive{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top 5px left -190px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_selfee{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -45px left 5px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_read_book{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -40px left -65px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_smile{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -40px left -135px;
    height: 40px;
    width: 75px;
    border: 0px;
}
.nlicon_pencil{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -37px left -192px;
    height: 45px;
    width: 75px;
    border: 0px;
}
.nlicon_new_write{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -93px left -65px;
    height: 50px;
    width: 75px;
    border: 0px;
}
.nlicon_head{
    background:transparent url("../img/bg/top_nav_bg.png") no-repeat top -97px left -135px;
    height: 55px;
    width: 75px;
    border: 0px;
}
.nav-color-other{
    background-color: #C5DB5F;
}
.logo-bg-color{
    background-color: #EBF0F3;
    border-bottom: 1px solid #EBF0F3;
}
.write-thoughtlets{
    margin: 10px 0px 36px 0px
}
/* profile page css */
.ProfileCanopy-headerBg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.profile-banner{
    height: 23em;
    padding: 1em;
    background:#F3F882 url("../img/bg/profile-banner.jpg") no-repeat;
    background-position: center;
    background-size: 100%;
}
.profile-container {
    height: auto;
}
a:link.profile-picture, a:hover.profile-picture, a:visited.profile-picture {
    display: block;
    overflow: hidden;
    float:left;
    width: 150px;
    height: 180px;   
}
img .profile-picture{
    vertical-align: top;
}
.profile-container a {
    margin-top: -115px;
}
.profile-name{
    font-size:17px;
    font-weight: 600;
}
/* inner profile */
.profile-banner2{
    height: 70px;
    background:#F3F882 url("../img/bg/profile-banner.jpg") no-repeat;
    background-position: center;
}
a:link.profile-picture2, a:hover.profile-picture2, a:visited.profile-picture2 {
    display: block;
    overflow: hidden;
    float:left;
    width: 50px;
    height: 60px;   
}
img .profile-picture2{
    vertical-align: top;
}
.profile-container2 {
    height: auto;
    margin-left:10px;
}
.profile-container2 a {
    margin-top: -30px;
}
.profile-name2{
    font-size:14px;
    font-weight: 600;
}

.profile-following{
    background-color:#CBD16A;
    color: #000;
    margin: 3px 5px 0px 0px;
    padding: 2px;
}
/*Snap Story CSS*/
.snap-story-bg{
    background:transparent url("../img/bg/snap_bg.png") repeat-x;
}
.single-page-bg{
    background:#CCD16B url("../img/bg/snap_bg.png") repeat-x;
}
.snap-story-title{
    font-size: 20px;
    margin-top: 20px;
}
.knowwhy-title{
    font-size: 16px;
    margin-top: 25px;
}
.snap-story-upload{
    background-color: #F0F0F0;
    text-align: center;
    padding: 10px 0px;
}
.modal-expand-link{
    margin-right: 10px;
}
.mypost-bar{
    border-bottom: 5px solid #F7F7F7;
}
.text-default{
    color: #8d8b2d;
}
.settings-bg{
    background-color: #AAE0FA;
    padding: 30px;
}
.profile-menu-text{
    font-size: 15px;
}
.setting-head-text{
    font-size: 18px;
}
.setting-footer-text{
    font-size: 12px;
    text-align: justify;
}
.space-left-10{
    margin-left: 10px;
}
.space-right-10{
    margin-right: 10px;
}
.know-why-pos{
    left: 10px;
    position: relative;
    top: -22px;
}
.know-why-pos2{
    left: 60px;
    position: relative;
    top: -15px;
}
.home-page-logo{
    position: relative;
    top: -16px;
    height: 96px;
    background-color: #FFF;
}
.single-page-logo{
    position: relative;
    top: -16px;
    height: 86px;
    background-color: #FFF;
}
.single-page-logo2{
    position: relative;
    height: 86px;
    background-color: #FFF;
}
.blog-page-logo{
    height: 86px;
    background-color: #FFF;
}
.modal-bacground{
    background-color: #C1C2C4;
    padding: 10px 20px 0px 20px;
}
.profile-icon-color{
    clear: both;
    color: #57575A;
}
.about-highlight-top{
    background-color: #DEDFE1;
    padding: 15px;
}
.about-qoute{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
.career-bg{
    background: url("../img/bg/career_bg.png") no-repeat;
    min-height: 706px;
    background-position: calc(100% - 65px) calc(100% - 20px); 
}
.text-bold{
    font-weight: 800;
}
.faq-header-title{
    margin-top: 20px;
    font-size: 26px;
}
.popover{
    width: 500px;
    max-width: 500px;
    background: #D3EFFB;
}
.popover.right .arrow:after {
    border-right-color: #D3EFFB;
}